@import "../../setting.scss";
.board-content {
  width: 100%;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  gap: $gap15;

  // ScrollBar
  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  &::-webkit-scrollbar:horizontal {
    height: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: darken($color: #07070771, $amount: 15);
    border-radius: $borderRDS15;
    margin-bottom: 5px;
  }
  //Column
}
