@import "../../setting.scss";

$column-header: 26px;
$column-footer: 26px;

.column {
  flex: 0 0 auto;
  width: 300px;
  max-height: calc(
    $boardContent-height - $column-header - $column-footer - 15%
  );

  border-radius: $borderRDS15;
  background-color: var(--primary-grey);
  padding: 0 $gap15;

  display: flex;
  flex-direction: column;

  background-color: #9dd1f5;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);

  &:last-child {
    margin-right: 20px;
  }
  &:first-child {
    margin-left: 20px;
  }
  //Tile - header card
  .column-header {
    height: $column-header;
    line-height: $lineHeight;
    padding: $gap15;
    border-top-left-radius: $gap15;
    border-top-right-radius: $gap15;
    font-weight: bold;
  }
  //UL Content
  .card-list {
    max-height: calc(
      $boardContent-height - $column-header - $column-footer - $appbar-height -
        $boardBar-height - 8vh
    );
    height: min-content;
    overflow-y: auto;
    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }
    &::-webkit-scrollbar:vertical {
      width: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: darken($color: #60606071, $amount: 15);
      border-radius: $borderRDS15;
    }
    .card-ghost {
      transition: transform 0.18s ease;
      transform: rotateZ(2deg);
    }

    .card-ghost-drop {
      transition: transform 0.18s ease-in-out;
      transform: rotateZ(0deg);
    }
    .card-drop-preview {
      background-color: rgba(150, 150, 200, 0.1);
      border: 1px dashed rgb(138, 144, 150);
      margin: 5px;
    }
  }
  // Add item - footer card
  .column-footer {
    line-height: $lineHeight;
    padding: $gap15;
    height: $column-footer;
  }
}
