@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
$appbar-height: 4vh;
$boardBar-height: 5vh;
$boardContent-height: 88vh;

$lineHeight: 24px;

$gap15: 15px;
$gap10: 10px;

$borderRDS15: 15px;
$borderRDS5: 5px;
